__pycache__/
coordinate_conversion/__pycache__/
fits_work/__pycache__/
hmi/__pycache__/
JOBS/__pycache__/
map_cut/__pycache__/
map_projection/__pycache__/
timedistance/__pycache__/
.DS_Store
hmi/__pycache__/__init__.cpython-313.pyc
hmi/__pycache__/hmi_b2ptr.cpython-313.pyc
hmi/__pycache__/hmi_disambig.cpython-313.pyc
hmi/__pycache__/limbcorrect.cpython-313.pyc
